<div class="profile">
  <h1>Welcome, <%=current_user.first_name%>!</h1>

  <p>Username: <%= current_user.username %></p>
  <p>Member: <%= current_user.first_name %> <%= current_user.last_name %></p>
  <p>Email: <%= current_user.email %></p>

  <p><%= link_to 'Edit Profile', edit_user_registration_path %></p><br />
</div>
