<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
<div id="new_step">
<h1>CREATE A NEW STEP</h1>
<%= form_for [@goal, @step] do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, required: true, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.text_field :deadline, :type => "text", :id => "datepicker" %><br>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>
<%= link_to 'Back', goal_path(@goal) %>
</div>
