<div id="goal">
  <div class="title">
    <h1 class="header"><%=@goal.title%></h1>
    <p class="description"><%=@goal.description%></p>
  </div>
  <div class="show_steps">
    <h4>STEPS I NEED TO TAKE TO ACHIEVE MY GOAL:</h4>
    <ul>
      <% counter = 0 %>
      <% if @steps == nil %>
      <% @steps = "" %>
        <% else  @steps.each do |step| %>
        <% counter += 1 %>
        <li><%=counter%>.) <%= step.description %>: </li>
        <li class="step_deadline"><%= step.deadline %></li></br>
        <% end %>
        <% end %>
    </li>
    </ul>
  </div>
  <div class="goal_deadline"> </a>
    <h2>FINISH THIS GOAL BY: <%=@goal.deadline%></h2>
  </div>
  <div class="link">
    <a class="linka"><%= button_to 'Create New Steps for Goal', new_goal_step_path(@goal), method: :get%></a>
  </div>
</div>
