<nav id="navbar">
  <div class="logo">
    <a href="/"><%=image_tag("https://marketplace-cdn.atlassian.com/files/images/94f3969e-76bf-44f3-856f-8c03724c24e4.png")%></a>
    <h1 class="logoheader"><a href="/">Careerleon</a></h1>
  </div>
  <h3 class="logosub">making change happen</h3>
  <div class="links">
    <ul>
      <% if user_signed_in? %>
          <li class="signed-in">Signed in as <span class="username"><%= current_user[:username] %></span></li>
          <li><%= link_to 'My Goals', goals_path(current_user) %></li>
          <li><%= link_to 'My Account', user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
